

body {
    margin:0;
    padding:0;
}

.navbar {
    display: flex;
    flex-direction: column-reverse;
    margin:6%;
    margin-bottom:3%;
    margin-top:3%;
    color: #212123;
}
    .navbar .nav-tags,
            .brand,
            .login {
                margin: auto;
            }
        .nav-tags {
            display: flex;
            flex-direction: column;
            font-family: 'Exo',
            sans-serif;
            text-align: center;
        }
            .nav-tags a {
                margin-top:20%;
                text-decoration: none;
                color: #212123;
            }
            .nav-tags a:hover {
                font-weight: bold;
            }
        .brand {
            margin-top:3%;
            margin-bottom: 0%;
            font-family: 'Yellowtail',
            cursive;
        }
        .login {
            margin-top:3%;

        }
            .login .icon36dp {
                display: none;
            }

.main {
    display: flex;
    flex-direction: column;
}
    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin:auto;
        padding:6%;
        padding-top:1%;
        padding-bottom:1%;
        max-width: 620px;
        font-family: 'Exo',
        sans-serif;
    }
        .intro h3, p {
            margin-bottom:3%;
        }
        .intro h3 {
            font-family: 'Yellowtail',
            cursive;
            font-size: 1.4em;
            margin-bottom: 2%;
        }
        .intro button {
            width:7em;
            max-width:400px;
            margin: auto;
            margin-top: 1%;
            margin-bottom: 2.5%;
            font-family: 'Exo',
            sans-serif;
            height:3em;
            font-size: 0.9em;
            border-style: none;
            color: white;
            font-weight: bold;
            background-color: #212123;
        }
            .intro button:hover {
                border-radius: 20px;
                box-shadow: 0px 0px 10px #212123;
                transition-duration: 0.35s;
                transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
            }
        .welcome-img img {
            margin-top:-2vw;
            width:100vw;
            height:auto;
            clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
        }

        .testimonials {
            margin:5%;
            display: flex;
            flex-direction: column;
            color: #212123;
        }
            .testimonial-text {
                margin:auto;
                margin-top: 3%;
                text-align: center;
                max-width: 620px;
            }
                .testimonial-text h5 {
                    font-family: 'Yellowtail',
                    cursive;
                    font-size: 1.5em;
                }
                .testimonial-text p {
                    font-family: 'Exo',
                    sans-serif;
                    margin-top:3%;
                }
            .testimonial-img-container {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                justify-content: center;
                text-align: center;
                font-family: 'Exo',
                sans-serif;
            }
                .testimonial-img {
                    margin:3%;
                }
                    .testimonial-img img {
                        width:180px;
                        height:180px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .testimonial-img p {
                        margin-top: 5%;
                        width: 220px;
                    }
                    .testimonial-img h5 {
                        font-family: 'Yellowtail',
                        cursive;
                        font-size:1em;
                    }

.event-container {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:3%;
    color: white;
    background-color: #212123;
}
    .event-intro {
        font-family: 'Yellowtail',
        cursive;
        margin-top:4%;
        margin-bottom: 4%;
    }
            .event-text {
                font-family: 'Exo',
                sans-serif;
                max-width: 400px;
                margin:auto;
                padding:0 3% 0 3%;
                margin-top:3%;
                margin-bottom:10%;
            }

    .event-items img {
        width:100vw;
        max-width:100%;
        height:100%;
        border-bottom: 5px solid white;
    }



.rsvp {
    display: flex;
    flex-direction: column;
}
    .rsvp-title {
        text-align: center;
        color:#212123;
        background-color:white;
        padding:3%;
    }
        .rsvp-title h5 {
            font-family: 'Yellowtail',
            cursive;
            font-size: 1.5em;
            margin:0;
        }
        .rsvp-title p {
            font-family: 'Exo',
            sans-serif;
            font-size:0.9em;
            margin:0;
        }
    .rsvp-invite {
        display: flex;
        flex-direction: column;
        font-family: 'Exo',
        sans-serif;
        background-color: #212123;
        color:white;
    }
        .submission {
            display: flex;
            flex-direction: column;
            margin:auto;
            width:35vw;
            max-width:300px;
        }
            .submission input {
                width:35vw;
                max-width:300px;
                margin: auto;
                margin-bottom: 8%;
                height:2em;
                background-color:white;
                padding:0.5em;
                font-size:1em;
                border-style: none;
                box-sizing: border-box;
            }
                .submission input[type="text"] {
                    color:#212123;
                }
            .submission select {
                width:35vw;
                max-width:300px;
                margin: auto;
                margin-top: 
                padding:0;
                font-family: 'Exo',
                sans-serif;
                padding:0.5em;
                color: #212123;
                font-weight: bold;
                border-style: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-image: url('Original\images\1x\sharp_keyboard_arrow_down_black_18dp.png');
                background-repeat: no-repeat,
                repeat;
                background-position: right .7em top 50%,
                0 0;
                background-size: 1.5em auto,
                100%;
            }
            .submission button {
                margin-top:4.5vh !important;
                margin-bottom: 2vh;
                width:auto !important;
                
                font-family: 'Exo',
                sans-serif;
                height:3em;
                font-size: 0.9em;
                border-style: none;  
                color: #212123;
                font-weight: bold;
                background-color: white;
            }
                .submission button:hover {
                    border-radius: 20px;
                    box-shadow: 0px 0px 10px whitesmoke;
                    transition-duration: 0.35s;
                    transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
                            
                }

            .submission label {
                margin-bottom: 0.3%;
            }
                .submission .viplabel {
                    font-weight: bold;
                }
            .submission h5 {
                text-align: center;
                font-size: 1.1em;
                margin-bottom:10%;
                margin-top:10%;
            }

.reserve {
    text-align: center;
    margin-top:1%;
    margin-bottom:2%;
    font-size:1.5em;
    font-family: 'Yellowtail', cursive;
}
.reserve p {
    margin:0;
}

.footer {
    display: flex;
    font-family: 'Exo',
    sans-serif;
    color:#212123;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.footer-links a {
    text-decoration: none;
    color:#212123;
    margin:1vh;
    margin-top:1.5vh;
}
    .footer-links a:hover {
        font-weight: bold;
    }
.website-description {
    width: 50%;

}
.website-description p {
    text-align: end;
    margin:0;
    margin:1vh;
    margin-top:1.5vh;
}



@media screen and (min-width: 600px) {
    .nav-tags {
        font-size:1.2em;
    }
    .brand {
        font-size:1.8em;
    }
    .login .icon24dp {
        display:none;
    }
    .login .icon36dp {
        display: block;
    }
    .intro h3 {
        font-size:1.8em;
    }
    .intro .intro-title {
        font-size: 2.5em;
    }
    .intro p {
        font-size:1em;
    }
    .intro button {
        width:10em;
    }
    .testimonial-text h5 {
        font-size:2em;
    }
    .testimonial-text p {
        font-size:1.2em;
    }
    .testimonial-img {
        font-size:1.2em;
    }
        .testimonial-img {
            margin-bottom:0px;
        }
    .event-intro h2 {
        font-size:2.1em;
    }
    .event-items p {
        font-size:1.2em;
    }
    .rsvp h5 {
        font-size:1.8em;
    }
    .rsvp p, label {
        font-size:1.2em;
    }
    .submission button {
        width:10em;
    }
    .reserve {
        font-size:1.8em;
    }
}
        
@media screen and (min-width: 1024px) {
    .navbar {
        margin-bottom: 3%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 12vh;
        max-width:1920px;
        margin:auto;
    }
        .nav-tags a {
            margin:0;
            width:10em;
            padding:2%;
            margin-left:3%;
            margin-right:3%
        }
        .login {
            width: 21rem;
            margin: 0;
            margin-right:3% !important;
        }

        .login img {
            margin: auto;
        }

        .nav-tags {
            display: inline-block;
            margin: 0 !important;
            width: 21em;
            margin-left:3% !important;
        }

        .nav-tags a {
            font-size: 0.8em;
            margin-left: 0.6%;
            margin-right: 0.6%;
            padding: 0.5em;
        }

        .brand {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

    .intro1024 {
        display: flex;
        justify-content: center;
        margin:auto;
        max-width:1920px;
        color:white;
        background-color: #212123;
        height:88vh;
        width:100vw;
    }
        .intro1024 button {
            color:#212123;
            background-color: white;
        }


    .intro {
        padding:0;
        max-width: 450px;
        position: relative;
        left:8vw;
    }
        .intro-container {
            margin:auto;
            padding:5%;
        }
            .intro-container .intro-title {
                font-size: 3em;
            }
    .main-container {
        height:100vh;
        height:100%;
    }

    .welcome-img {
        overflow: -moz-hidden-unscrollable;
    }
    .welcome-img img {
        margin-top:0;
        position: relative;
        left:6vw;
        width: 70vw;
        height:100vh;
        object-fit: cover;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        max-width: 1000px;
    }
    .testimonials {
        margin-top:0;
        margin-bottom: 0;
    }
        .testimonial-text h5 {
            font-size:2.5em;
        }
        .testimonial-img h5 {
            font-size:1.5em;
        }

    .event-container {
        background-color: #212123;
        color:white;
    }
    .event-intro {
        margin-bottom:2%;
        margin-top:2%;
        font-size:2em;
    }
    .event-img-container {
        display:flex;
        flex-direction: column;
        width:70vw;
        margin:auto;
    }
        .event-items {
            display: flex;
            flex-direction: row;
            margin-bottom:4%;
            border-right: 8px solid white;
            /* border-bottom: 5px solid white; */
        }
        .event-text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0;
            margin:auto;
            padding:0;
            width:20vw;
        }
        .event-items-reverse {
            flex-direction: row-reverse;
            border-left: 8px solid white;
            border-right: none;
            /* border-bottom: 5px solid white; */
        }
            .event-items-reverse .djphoto {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            }
        .event-items img {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            width:40vw;
            height:auto;
            object-fit: cover;
            border:none;
        }
    
    .rsvp-title h5 {
        font-size:3em;
    }


}

@media screen and (min-width: 1230px) {
    .nav-tags a {
        font-size: 1em;
    }
    .intro p {
        font-size:1.3em;
    }
        .intro h3 {
            font-size:2em;
        }
}